.content {
  display: grid;
  align-items: start;
  gap: 32px;
  grid-template-columns: minmax(0, 1fr) 296px;
}

.codeColumn {
  display: grid;
  min-width: 0;
  gap: 24px;
}

@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
  }
}
